---
---

// :fonts

// If Cormorant is too extreme, consider Sorts Mill Goudy or Trirong (Spectral SC?)
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700|Cormorant+Unicase');
$text-heading: 'Cormorant Unicase', serif;
$text-main: "Lora", Georgia, serif;
$text-aux: Arial, Verdana, Geneva, sans-serif;

// :colors & deocration

$color-background-main: #fff;//#38383c;
$color-text-main: #666;//#e7e7f4;
$color-text-menu: mix($color-text-main, $color-background-main, 75);
$color-link-main: #000;
$color-background-heading: #1b1b1f;
$color-background-footer: #eee;
$color-apply-background: #dd3434;
$color-apply-foreground: #fff;

// :layout

$space-gutter: 4vw;

// :general


* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

body {
	background: $color-background-main;
	color: $color-text-main;
	font-family: $text-main;
	font-size: 20px;
	
	&.page {
	//	background-image: linear-gradient(180deg, mix($color-background-main, black, 35) 0px, $color-background-main 300px, $color-background-main);
	}
}

body#home {
	display: grid;
	grid-template: 
	"nav"
	"masthead"
	"hero"
	"intro"
	"events"
	"about"
	"footer";
}

nav {
	grid-area: nav;
	padding: $space-gutter $space-gutter $space-gutter 0;
	display: flex;
	flex-direction: row-reverse;
	background: linear-gradient(180deg, #000, #333);
	border-bottom: 1px solid #fff;
	
	a.menu-toggle, a.apply-now {
		display: inline-block;
		padding: 0.4em 0.8em;
		box-sizing: border-box;
		flex: 0 0 auto;
		
		font-family: $text-aux;
		font-size: 70%;
		border: none;
		color: mix($color-background-main, $color-text-main, 75);
		background: $color-text-main;
		border-radius: 200px;
		text-transform: uppercase;
	}
	
	a.apply-now {
		background: $color-apply-background;
		color: $color-apply-foreground;
		font-weight: bold;
		margin-right: 0.8em;
	}
	
	ul.main {
		display: block;
		position: fixed;
		height: 100vh;
		width: auto;
		right: 0;
		top: 0;
		z-index: 100;
		padding: $space-gutter * 2;
		background: mix(rgba(255, 255, 255, 0.9), $color-background-main, 50);
		font-family: $text-aux;
		border-left: 5px solid $color-background-heading;
		transition: right 0.5s ease-out;
		
		&.closed {
			right: -100vw;
		}
		
		li {
			display: block;
			margin-bottom: 0.5em;
		}
		
		li a {
			border: none;
			color: $color-text-menu;
		}
		
		li.active a {
			color: #000;
			font-weight: bold;
		}
		
		ul.events, ul.about {
			margin-left: 0.5em;
			margin-top: 0.5em;
			padding-left: 0.5em;
			border-left: 1px solid $color-text-main;
			font-size: 90%;
		}
		
		li.menu-toggle {
			text-align: right;
			margin-top: -$space-gutter;
			
			a {
				display: inline-block;
				text-transform: uppercase;
				background: $color-text-main;
				color: mix($color-background-main, $color-text-main, 75);
				padding: 0.4em 0.8em;
				font-size: 70%;
				border-radius: 200px;
				margin-right: -$space-gutter;
				
			}
		}
	}
}

#masthead {
	grid-area: masthead;
	margin-bottom: $space-gutter;
	width: 100%;
	background: transparent url('../i/Eskhaton_masthead.jpg') center center no-repeat;
	background-size: cover;
	box-sizing: content-box;
	padding: 10vw 0 5vw 0;
	
	h1 {
		width: 100%;
		box-sizing: border-box;
		color: #fff;
		
		a {
			display: block;
			width: 100%;
			
			//padding-left: 100%;
			//white-space: nowrap;
			//overflow: hidden;
			border: none;
			box-sizing: border-box;
			color: #fff;
		}
	}
	
	h2 {
		font-family: $text-main;
		font-weight: normal;
		font-size: 90%;
		margin: 0;
		padding: 0 5vw;
		color: #fff;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $text-heading;
	text-align: center;
}

h2 {
	padding: $space-gutter / 4 $space-gutter;
	margin-top: $space-gutter;
}


p {
	font-size: 70%;
}

section > ul, section > ol {
	margin: 0 $space-gutter 1em $space-gutter;
	font-size: 70%;
	
	li {
		margin-left: $space-gutter * 1.5;
		margin-bottom: 0.5em;
	}
}

hr {
	display: relative;
	margin: 1em 0;
	height: 1px;
	border: none;
	background-image: linear-gradient(90deg, transparent 10%, $color-text-main 50%, transparent 90%);
}

a {
	color: $color-link-main;
	text-decoration: none;
	border-bottom: 1px solid $color-link-main;
}

div.apply-now {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 1em;
	
	a {
		display: inline-block;
		position: relative;
		font-family: $text-aux;
		border: none;
		color: $color-apply-foreground;
		background: $color-apply-background;
		border-radius: 200px;
		padding: 0.4em 0.8em 0.4em 0.8em;
		text-transform: uppercase;
		flex: 0 0 auto;
		font-weight: bold;
	}
}

a.about-more {
	display: inline-block;
	position: relative;
	font-family: $text-aux;
	border: none;
	color: mix($color-background-main, $color-text-main, 75);
	background: $color-text-main;
	border-radius: 200px;
	padding: 0.4em 2em 0.4em 0.8em;
	text-transform: uppercase;
	flex: 0 0 auto;
	
	
	&:after {
		content: "";
		display: block;
		position: absolute;
		right: 8px;
		top: 50%;
		margin-top: -7.5px;
		background: transparent url('../i/arrow-dusk-right.png');
		background-size: contain;
		width: 15px;
		height: 15px;
		margin-left: 5px;
	}
}

// :homepage

#hero {
	grid-area: hero;
	
	#banner {
		width: 100%;
		position: relative;
	}
	
	#banner img {
		width: 100%;
		height: auto;
		display: block;
		position: relative;

	}
	
	#banner .blurb {
		position: absolute;
		bottom: 0;
		left: $space-gutter;
		bottom: $space-gutter / 2;
		z-index: 1;
	}
	
	h3, h4 {
		color: #fff;
		margin-left: 0;
	}
}

#intro {
	grid-area: intro;
}

#events {
	grid-area: events;
}

$color-about-grad1: mix(#000, $color-background-main, 50);
$color-about-grad2: rgba(red($color-background-main), green($color-background-main), blue($color-background-main), 1);

#about {
	grid-area: about;
	padding: 0 0 2em 0;
	
	h2 {
		margin-bottom: 0.5em;
		margin-top: 0;
	}
	
	.about-links {
		display: flex;
		justify-content: center;
		padding: 0 $space-gutter;
		margin-top: 1em;
		
		li {
			flex: 0 1 auto;
			list-style: none;
		}
		
		li p {
			padding: 0;
			margin: 0;
		}
		
		li p a {
			margin: 0 1em 0 0;
			padding: 0.4em 0.8em;
			border: none;
			background: $color-text-main;
			color: $color-background-main;
			border-radius: 200px;
			text-transform: uppercase;
			font-size: 80%;
			font-family: $text-aux;
		}
		
		li:last-child p a {
			margin: 0;
		}
	}
}

p {
	padding: 0 $space-gutter;
	margin-bottom: 0.75em;
}

// :footer 

footer * {
	font-family: $text-aux;
}

footer {
	background: $color-background-footer;
	padding: $space-gutter 0;
	grid-area: footer;
	margin-top: 2em;
}

footer p {
	font-size: 60%;
	text-align: center;
}

// :about-larp 

body#about-larp, body#about-studio, body#contact, body#schedule, body#not-found {
	min-height: 100vh;
	display: grid;
	grid-template: 
	"nav"
	"masthead"
	"main"
	"footer";
	
	grid-template-rows: auto auto auto 1fr;
}

section#main {
	grid-area: main;
	
	h2 {
		margin-bottom: 0.5em;
		margin-top: 1em;
		
		&:first-child {
			margin-top: 0;
		}
	}

	blockquote {
		border-left: 1px solid $color-text-main;
		margin-left: $space-gutter;
		padding-left: $space-gutter;
		padding-right: $space-gutter;
		margin-bottom: 1.5em;
		
		p {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

// :about-studio
#about-studio, #contact, #schedule, #seance, #acog, #not-found {
	footer {
		margin-top: 1em;
	}
}

#principals .staff {
	display: grid;
	grid-template:
	"name-title contact"
	"image image"
	"content content";
	
	grid-template-columns: 1fr auto;
	
	.name-title {
		grid-area: name-title;
	}
	
	.contact { 
		grid-area: contact;
		margin-right: $space-gutter;
		
		
		font-size: 60%;
		a {
			border: none;
			display: inline-block;
			font-family: $text-aux;
		}
		
		.email, .twitter {
			position: relative;
			padding-top: 0.25em;
			padding-left: 18px;

		}
		
		.email {
			background: transparent url('../i/email-icon.png') left center no-repeat;
			background-size: 15px 10px;
			background-position: 0px 7px;
		}
		
		.twitter {
			background: transparent url('../i/twitter-icon.png') left center no-repeat;
			background-size: 12px 10px;
			background-position: 0px 7px;
		}
	}
	
	.image {
		grid-area: image;
	}
	
	.content {
		grid-area: content;
	}
}

.staff {
	margin-bottom: 1em;
}

.staff h4 {
	margin-left: $space-gutter;
	margin-bottom: 0.5em;
}

.staff .image {
	margin: 0 $space-gutter 0.5em $space-gutter;
	
	img {
		display: block;
		width: calc(100% - 4px);
		height: auto;
		padding: 1px;
		background: black;
		border: 1px solid white;
		box-sizing: content-box;
	}
}

// :events general
#out-of-game ul, ol {
	margin: 0 $space-gutter 1em $space-gutter;
	font-size: 70%;
	
	li {
		margin-left: 20px;
	}
}

// :lightbox
#lightbox {
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 100vw;
	top: 0;
	background: black;
	background: rgba(0, 0, 0, 0.9);
	z-index: 1000;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	#controls, .content, .caption {
		flex: 0 0 auto;
		margin-bottom: 10px;
	}
	
	&.active {
		left: 0;
	}
	
	.content {
		background: transparent;
		max-height: 75%;
	}
	
	#controls {
		display: flex;
		justify-content: center;

		a {
			flex: 0 0 auto;
			position: relative;
			width: 10vw;
			height: 10vw;
			display: block;
			overflow: hidden;
			border: none;
			margin-left: 5vw;
			text-indent: 100%;
			
			&:first-child {
				margin-left: 0;
			}
			
			&:before {
				content: " ";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				
			}
			
			&.close:before {
				background: url('../i/close-white.png') center center no-repeat;
				background-size: contain;
			}
			
			&.next:before {
				background: url('../i/arrow-white-right.png') center center no-repeat;
				background-size: contain;
			}
			
			&.prev:before {
				background: url('../i/arrow-white-left.png') center center no-repeat;
				background-size: contain;
			}
		}
	}
}


// :event - generic styles
body.cult {
	
	display: grid;
	grid-template: 
	"nav"
	"masthead"
	"main"
	"footer";
	
	grid-template-columns: auto;
	
	#main {
		grid-area: main;
	}
	
	footer {
		grid-area: footer;
	}
}

body.cult {
	
	#masthead {
		background: black url('../i/cults/progenus_background.jpg') center bottom no-repeat;
		background-size: cover;
		position: relative;
		padding-bottom: 15vw;
	}
	
	#masthead a.back {
		position: absolute;
		display: block;
		top: 5%;
		left: 2%;
		color: #fff;
		font-family: $text-heading;
		background: transparent url('../i/arrow-white-left.png') left center no-repeat;
		background-size: 0.75em 0.75em;
		padding-left: 1em;
		border: none;
	}
	
	#masthead:after {
		content: "";
		position: absolute;
		bottom: -25vw;
		left: 50%;
		margin-left: -25vw;
		width: 50vw;
		height: 50vw;
		background: transparent url('../i/cults/progenus.png') center center no-repeat;
		background-size: contain;
	}
	
	div.summary {
		margin-top: 10vw;
	}
}

body#seekers {
	#masthead {
		background-image: url('../i/cults/seekers_background.jpg');
		padding-bottom: 18vw;
		
		h1 {
			font-size: 180%;
		}
	}
	
	#masthead:after {
		background-image: url('../i/cults/pattern_seekers.png');
	}
	
	div.summary {
		margin-top: 15vw;
	}
}

body#extant {
	#masthead {
		background-image: url('../i/cults/extant_background.jpg');
		padding-bottom: 25vw;
		
		h1 {
			font-size: 180%;
		}
	}
	
	#masthead:after {
		background-image: url('../i/cults/extant.png');
		width: 40vw;
		height: 40vw;
		margin-left: -20vw;
		bottom: -20vw;
	}
	
	div.summary {
		margin-top: 20vw;
	}
}

// :event - seance
body#seance {	
	#in-game {
		background: linear-gradient(#ede6c7, #fff);
		color: #4d382b;
		padding: $space-gutter 0;
		margin-bottom: 1em;
		
		h2 {
			background-color: transparent;
			border: none;
			font-family: $text-main;
			margin: 0;
			text-align: center;
			padding: 145px 0 0 0;
			background-image: url('../i/events/seance/ames_color.png');
			background-position: center 10px;
			background-repeat: no-repeat;
			background-size: 125px 125px;
			text-transform: none;
		}
		
		h3 {
			font-family: $text-main;
			text-transform: none;
			text-align: center;
		}
		
		img {
			float: right;
			width: 45%;
			height: auto;
			box-shadow: 1px 1px 6px black;
			margin-top: 0.25em;
			margin-left: 10px;
			margin-bottom: 10px;
		}
		
		span.author {
			display: block;
			position: relative;
			margin-left: 33%;
			margin-top: 0.5em;
			
			&:before {
				content: "\2014";
				position: absolute;
				left: -1em;
				top: 0;
			}
		}
	}
}

// :event - acog

$color-letter-accent: #ed152e;
$color-letter-text: #472529;
body#acog {
	
	#in-game {
		background: gray url('../i/events/acog/nuke.jpg') center center no-repeat;
		background-size: cover;
		color: $color-letter-text;
		padding: 20px 0 100px 0;
		overflow: hidden;
		margin-bottom: 1em;
		display: flex;
		flex-direction: row-reverse;
		position: relative;
		
		h2, h3, p {
			font-family: "Courier New", "Courier", monospace;
		}
		
		.letter {
			
			flex: 0 0 auto;
			margin: 200px -10px -20px 0;
			width: 220px;
			padding: 20px;
			border: 10px solid $color-letter-accent;
			background: #f4f3ef;
			font-size: 80%;
			transform: rotate(10deg);
			box-shadow: -3px -3px 11px black;
			
			.letter-body {
				transform: rotate(1.5deg);
			}
			
			h2, h3 {
				background: $color-letter-accent;
				color: #fff;
				text-align: center;
				border: none;
				margin: 0;
				padding: 0;
			}
			
			h3 {
				margin-bottom: 1em;
			}
			
			p {
				padding: 0;
			}
			
			strong {
				font-weight: normal;
				border-bottom: 1px solid $color-letter-text;
			}
			
			span {
				color: black;
				background: black;
			}
		}
		
		.badge {
			position: absolute;
			bottom: -5px;
			left: 0;
			width: 33vw;
			height: 52vw;
			background: url('../i/events/acog/badge.png') center center no-repeat;
			background-size: contain;
			transform: rotate(-7deg);
		}
	}
}

@import 'breakpoints.scss';
@import 'desktop.scss';
