---
title: Home
id: home
---

{% include header.html class = 'page' %}
{% include masthead-standard.html %}
{% include menu.html %}

<section id = "main">

<section id = "hero">
	<div id = "banner">
		
	</div>
</section>

<section id = "intro">
	
	<iframe src="https://www.youtube.com/embed/1-tlQwHtmaM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	
	<p class = "blurb">Eskhaton is your chance to bring about your own version of the apocalypse. Join with other cultists to worship terrible ancient gods from beyond in celebration of the end of the world in this cosmic horror larp!</p>
	
	<hr />
	
	<p><strong>April 5th through the 7th, 2019 Providence, Rhode Island, USA</strong></p>

	<p>The apocalypse is coming and you&rsquo;re invited to make it happen. Eskhaton is a larp in the genre setting of cosmic horror and will provide the sense that ordinary life is a thin shell over a reality that is so alien and abstract in comparison that merely contemplating it would damage the sanity of the ordinary person. This dark and mysterious event will drop you into the twilight hours of existence before the end times. During the event you and other cultists, in one of five originally designed cults, will be worshipping a different god while celebrating the impending apocalypse. All packages include:</p>
	
	<ul>
	<li><p>Two nights lodging at the Hilton Providence in Providence, Rhode Island.</p></li>
	<li><p>Full catered meals for brunch at the Hilton Providence, and dinners at Squantum Association.</p></li>
	<li><p>Late night flatbread, coffee and tea and bar service available.</p> </li>
	<li><p>Each character is custom written and tailored to you!</p></li>
	<li><p>Pre-game workshops for you and your cult to immerse you directly into the game. </p></li>
	<li><p>An after-game party on Saturday night/Sunday morning.</p></li>
	<li><p>Sunday morning debrief to help you exit the game in a healthy manner!</p></li>
	<li><p>Plus tons of upgrade options!</p></li>
	<li><p>Our base package starts at $875 (800 + fees), but we also have upgraded packages that include private rooms, transportation, and lots of luxurious upgrades! A complete price list can be sent to you once you fill out our survey. We offer payment plans!</p></li>
	</ul>
	
	<div class = "apply-now">
		<a class = "apply-now" href = "/apply/">Apply Now</a>
	</div>

		<p>While bringing about the end of times you will be staying at The Hilton Providence in Providence Rhode Island, and the event will be very nearby at the private Squantum Association Club! Eskhaton is an all-inclusive weekend where you will be immersed in the cultish machinations to bring about the end of the world. This one of a kind experience includes everything you could want for an unforgettable weekend. </p>

		<p><strong>Lovecraftian Inspired, not Lovecraftian</strong>: in an attempt to define our material more on our own terms, Eskhaton’s setting material is inspired by Lovecraft and the Cthulhu Mythos, but are not necessarily directly related except by the theme of cosmic horror. </p>
		
</section>

<section id = "media">
	<img src = "/i/bonfire.jpg" />
</section>

</section>

{% include footer.html %}