---
layout: page
id: accommodations
title: Accommodations
---

<h2>Accommodations</h2>

<section id = "city">
	
	<h3>The City of Providence</h3>
	
	<p>We want our attendees to think of this weekend as a unique vacation experience with the Eskhaton larp as its centerpiece. The event schedule leaves ample time to explore the city of Providence and its many attractions. To help attendees get the most out of the weekend, we have compiled a <a href = "/pdf/eskhaton-providence-guide-2018-10-27.pdf">Guide to Providence</a>.</p>
	
</section>

<section id = "hotel">
	
	<h3>Hotel</h3>
	
	<p>All out-of-game accommodations and mandatory pre- and post-game workshops will take place at:</p>
		 
	<div class = "preview">
		 <address>
		 The Hilton Providence<br />
		 21 Atwells Avenue<br />
		 Providence, RI 02903
		 </address>
		 
		 <img src = "/i/hilton.jpg" />
		 
		 {% assign site_gallery = site.data.galleries | where: "name", "hotel" %}
		<div class = "gallery">
		{% for i in site_gallery[0].images %}
		
		{% assign next_image = forloop.index %}
		{% if include.e.gallery[next_image] == nil %}
			{% assign next_image = 0 %}
		{% endif %}
		
			<div class = "image" data-image-num = {{forloop.index0}} data-image-next = "{{site_gallery[0].images[next_image].full}}">
				<a href = "{{i.full}}"><img src = "{{i.thumb}}" /></a>
			</div>
		
		{% endfor %}
		</div>
		 
	</div>
		 
	<p>A two-night stay at the Hilton Providence is included in the event registration fee. <strong>There is no need to book a room yourself.</strong></p>
		 
	<p>The Hilton Providence is non-smoking. There is a garage for parking that is $25, or $28 with valet service. No pets, other than service animals, are allowed.</p>
		 
		 
</section>

<section id = "transport">
	
	<h3>Transportation</h3>
	
	<p>Transportation will be provided for Eskhaton in the form of 15-person passenger vans that ferry participants between the hotel/site. Participants are welcome to take their own transportation if they arrange for it. The venue and hotel are 5 miles from one another, or around 15 minutes by car.</p>

	<p>The T.F. Green Providence Airport is 15 minutes by car from the Hilton Providence and 1 hour from Logan International Airport in Boston. Additionally, Providence is accessible from the MBTA commuter train line from Boston to Providence for around $15 and taking around 45 minutes.</p>

</section>


<section id = "food">
	
	<h3>Food</h3>
	
	{% assign site_gallery = site.data.galleries | where: "name", "food" %}
		<div class = "gallery">
		{% for i in site_gallery[0].images %}
		
		{% assign next_image = forloop.index %}
		{% if include.e.gallery[next_image] == nil %}
			{% assign next_image = 0 %}
		{% endif %}
		
			<div class = "image" data-image-num = {{forloop.index0}} data-image-next = "{{site_gallery[0].images[next_image].full}}">
				<a href = "{{i.full}}"><img src = "{{i.thumb}}" /></a>
			</div>
		
		{% endfor %}
		</div>
	
	<p>Your registration fee includes several meals during the weekend. There will be brunches on Saturday and Sunday, dinners on Friday and Saturday, and snacks provided after dinner hours as well as tea and coffee. Alcohol may be purchased from two on-site bars during the event.</p>
	
	<p>The first provided meal will be the Friday night dinner at the Squantum Association. Note that this is after the first mandatory workshops begin on April 5th, and so attendees should plan to eat before the workshops on their own. There are a number of restaurants around the Hilton Providence, and there will be ample time to eat and arrive at site for workshops.</p>

	<p>Meal selections will include vegetarian, Gluten-Free and vegan options (specific dietary requests can also be noted as part of the participant application). </p>
	
</section>



<div id = "lightbox">
		<div id = "controls">
			<a href = "#" class = "prev">prev</a>
			<a href = "#" class = "close">close</a>
			<a href = "#" class = "next">next</a>
		</div>
		
		<div class = "content">
			
		</div>
		
		<div class = "caption">
			
		</div>
</div>

