<!DOCTYPE html>
<html lang="en"> {% comment %} closed in footer.html {% endcomment %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{page.title}} | Eskhaton Larp</title>
	<link rel="stylesheet" href="/css/style.css">
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<script src = "/js/jquery-3.3.1.slim.min.js"></script>
	<script src = "/js/cookie.js"></script>
	<script src = "/js/main.js"></script>
	
	<!-- Facebook Pixel Code -->
	<script>
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window, document,'script',
		'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '886990821506211');
		fbq('track', 'PageView');
	</script>
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127746270-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-127746270-1');
	</script>
	
	<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=886990821506211&ev=PageView&noscript=1" /></noscript>
		<!-- End Facebook Pixel Code -->
</head>

<body {% if page.short-name %}id="{{page.short-name}}"{% else if page.id %}id = {{page.id}}{% endif %} class = "{{include.class}}"> {% comment %} closed in footer.html {% endcomment %}
