<nav>
	
	<a href = "#" class = "menu-toggle">menu</a>	
	<a href = "/apply/" class = "apply-now">Apply Now</a>	
	
	<ul class = "main closed">
		<li class = "menu-toggle"><a href = "#">Close</a></li>
		<li class = "apply {% if page.id == "apply" %} active{% endif %}"><a href = "/apply/" class = "apply-now">Apply Now</a></li>
		<li class = "home {% if page.id == "home" %} active{% endif %}"><a href = "/">Home</a></li>
		<li class = "story {% if page.id == "story" %} active{% endif %}">
			<a href = "/story/">Story &amp; Cults</a>
			<ul class = "events">
				<li class = "story {% if page.id == "story" %} active{% endif %}"><a href = "/story/">Story</a></li>
				{% assign cults = site.cults | sort: 'order' %}
				{% for c in cults %}
				<li {% if page.short-name == {{c.short-name}} || page.id == {{c.short-name}} %}class = "active"{% endif %}><a href = "/story/{{c.short-name}}/">{{c.cult-name}}</a></li>
				{% endfor %}
			</ul>
		</li>
		<li {% if page.id == "logistics" %}class = "active"{% endif %}>
		<a href = "/logistics/">Logistics</a>
		<ul class = "sub-logistics">
			<li {% if page.id == "logistics" %}class = "active"{% endif %}><a href = "/logistics/">Logistics</a></li>
			<li {% if page.id == "rules-of-play" %}class = "active"{% endif %}><a href = "/logistics/rules-of-play/">Rules of Play</a></li>
			<li {% if page.id == "code-of-conduct" %}class = "active"{% endif %}><a href = "/logistics/code-of-conduct/">Code of Conduct</a></li>
			<li {% if page.id == "privacy-policy" %}class = "active"{% endif %}><a href = "/logistics/privacy-policy/">Privacy Policy</a></li>
		</ul>
		
		</li>
		
		<li {% if page.id == "team" %}class = "active"{% endif %}><a href = "/team/">Team</a></li>
		<li {% if page.id == "contact" %}class = "active"{% endif %}><a href = "/contact/">Contact</a></li>
	</ul>
	
</nav>


