// Media queries built off of main styles.

// Break point for iPhone SE?
// First break point: > 500px

$width-desktop: 660px;
$grid-gutter: 20px;
$color-menu: rgba(73, 73, 73, 1);

@media screen and (min-width: 1025px) {
	
	body {
		font-size: 30px;
	}	
	
	body.cult #masthead {
		padding-top: 150px;
	}
	
	nav {
		
		font-size: 90%;
		padding: 0 0;
		
		a.menu-toggle, ul.main li.menu-toggle, & > a.apply-now {
			display: none;
		}
		
		ul.main {
			position: relative;
			height: auto;
			right: auto;
			padding: 0;
			display: flex;
			background: transparent;
			border: none;			
			justify-content: center;
			
			&.closed {
				right: auto;
				left: 0;
				width: 100%;
			}
			
			li {
				flex: 0 1 auto;
				margin-right: $grid-gutter;
				margin-bottom: 0;
				position: relative;
				padding: 0.5em 0.25em 0.5em 0.25em;
				
				&.active > a {
					color: #fff;
				}
			}
			
			li.apply {
				
				padding-right: 0;
				
				a {
					margin-right: 0;
				}
			}
		}
		
		ul.main li > ul {
			display: none;
			border: none;
			
			li {
				margin: 0;
				padding: 0.5em 1em;
			}
			
			li:hover {
				background: rgba(0, 0, 0, 0.3);
			}
			
		}
		
		ul.main li:hover {
			background: $color-menu;
		}
		
		ul.main li.apply:hover {
			background: transparent;
		}
		
		ul.main li:hover > ul {
			display: block;
			position: absolute;
			top: 100%;
			left: 0;
			margin: 0;
			padding: 0;
			width: 300px !important;
			background: $color-menu;
			font-size: 80%;
			border: none;
			
			&:hover {
				
				display: block;
			}
		}
	}
	
	// cult stuff
	
	
	body#extant {
		
		#masthead {
			padding-bottom: 250px;
		}
				
		#masthead:after {
			background-image: url('../i/cults/extant.png');
			width: 400px;
			height: 400px;
			margin-left: -200px;
			bottom: -200px;
		}
		
		div.summary {
			margin-top: 200px;
		}
	}
	
	body#scions {
		#masthead {
			padding-bottom: 350px;
			
			h1 {
				font-size: 180%;
			}
		}
		
		#masthead:after {
			background-image: url('../i/cults/scions.png');
			width: 300px;
			height: 600px;
			margin-left: -150px;
			bottom: -300px;
		}
		
		div.summary {
			margin-top: 250px;
		}
	}
	
	body#mareen {
		#masthead {
			padding-bottom: 350px;
			
			h1 {
				font-size: 180%;
			}
		}
		
		#masthead:after {
			background-image: url('../i/cults/mareen.png');
			width: 300px;
			height: 600px;
			margin-left: -150px;
			bottom: -300px;
		}
		
		div.summary {
			margin-top: 250px;
		}
	}
	
	body#seekers {
		
		#masthead {
			padding-bottom: 175px;
			background-image: url('../i/cults/seekers_background.jpg');
		}
				
		#masthead:after {
			background-image: url('../i/cults/pattern_seekers.png');
			width: 400px;
			height: 400px;
			margin-left: -200px;
			bottom: -200px;
		}
		
		div.summary {
			margin-top: 100px;
		}
	}
	
	body#progenus {
		
		#masthead {
			padding-bottom: 175px;
			background-image: url('../i/cults/progenus_background.jpg');
		}
				
		#masthead:after {
			background-image: url('../i/cults/progenus.png');
			width: 400px;
			height: 400px;
			margin-left: -200px;
			bottom: -200px;
		}
		
		div.summary {
			margin-top: 100px;
		}
	}
	
	section#media img {
		padding: 1px;
		border-width: 1px;
	}
	
	.gallery {
	
	margin: 0;
	
	.image {
		flex: 0 0 ($width-desktop - ($grid-gutter * 2)) / 3;
		margin-right: $grid-gutter;
		
	}
	
	.image:nth-child(3n) {
		margin-right: 0;
	}
}

	#lightbox #controls a {
		width: 30px;
		height: 30px;
	}
}

