---
---

{% include header.html class = "cult" %}
{% include masthead-cult.html %}
{% include menu.html %}

<section id = "main">
	<div class = "summary">
		{{page.summary | markdownify}}
	</div>

	<hr />

	<h3>Deity &mdash; {{page.god-name}}</h3>

	{{page.god-description | markdownify}}

	<h3>Cult History &amp; Description</h3>

	{{page.details | markdownify}}

	<h3>{{page.god-name}} Mythos</h3>

	{{page.god-mythos | markdownify}}
	
	<hr />
	
	{% if page.short-name == 'scions' or page.short-name == 'expositors' %}
	
	<p>Want to join the cult of the {{page.cult-name}}? Spots will fill up quickly&mdash;don't wait to apply!</p>
	
	{% else %}
	
	<p>Want to join the cult of {{page.cult-name}}? Spots will fill up quickly&mdash;don't wait to apply!</p>
	
	{% endif %}
	
	
	<div class = "button apply-now">
		<a class = "apply-now" href = "/apply/">Apply Now</a>
	</div>

</section>

{% include footer.html %}